.container{
    background-color: rgb(246, 241, 234);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: rgb(246, 241, 234) !important;
    max-height: 100vh !important;
    overflow-y: hidden;
}

.winner{
    height: 300px;
    object-fit: cover;
}

.card-flex{
    display: flex ;
}

.card-with{
    width: 100%;
}

.card{
    max-width: 50rem;
}

.Quiz-img img{
    width: 300px !important;
    height: 100%;
    object-fit: cover;
}

.progress{
    width: 100% !important;
    margin-bottom: 2rem;
}

.amount-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Quiz-footer{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 12px;
    margin-top: 10px;
}

.answer-card:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success , .bg-danger {
    color: white;
}

.winner-img img{
    object-fit: cover;
    height: 25rem;
    width: 90% !important;
}

.winner-img{
    display: flex;
    justify-content: center;
}

.End-headline{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-request{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    flex-direction: column;
}

.progress{
    width: 90%;
    margin-left: 5px;
    margin-right: 10px;
    background-color: rgb(190, 190, 190);
}